
<table class="tx-shopware" >
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.active" />
		</td>
		<td>
			{productDetail.active}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.ean" />
		</td>
		<td>
			{productDetail.ean}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.height" />
		</td>
		<td>
			{productDetail.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.width" />
		</td>
		<td>
			{productDetail.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.weight" />
		</td>
		<td>
			{productDetail.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.ordernumber" />
		</td>
		<td>
			{productDetail.ordernumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.packunit" />
		</td>
		<td>
			{productDetail.packunit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.min_purchase" />
		</td>
		<td>
			{productDetail.minPurchase}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_productdetail.max_purchase" />
		</td>
		<td>
			{productDetail.maxPurchase}
		</td>
	</tr>
</table>