
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for ProductDetail</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_shopware" >
	<tr>
		<th><f:translate key="tx_shopware_domain_model_productdetail.active" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.ean" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.height" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.width" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.weight" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.ordernumber" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.packunit" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.min_purchase" /></th>
		<th><f:translate key="tx_shopware_domain_model_productdetail.max_purchase" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{productDetails}" as="productDetail">
		<tr>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.active}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.ean}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.height}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.width}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.weight}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.ordernumber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.packunit}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.minPurchase}</f:link.action></td>
			<td><f:link.action action="show" arguments="{productDetail : productDetail}"> {productDetail.maxPurchase}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{productDetail : productDetail}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{productDetail : productDetail}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ProductDetail</f:link.action>
</f:section>