
<table class="tx-shopware" >
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.sid" />
		</td>
		<td>
		{product.sid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.name" />
		</td>
		<td>
		{product.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.description" />
		</td>
		<td>
		{product.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.description_long" />
		</td>
		<td>
		{product.descriptionLong}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.shippingtime" />
		</td>
		<td>
		{product.shippingtime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.detail" />
		</td>
		<td>
		{product.detail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_product.price" />
		</td>
		<td>
		{product.price}
		</td>
	</tr>
</table>