
<table class="tx-shopware" >
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.sid" />
		</td>
		<td>
		{category.sid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.description" />
		</td>
		<td>
		{category.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.position" />
		</td>
		<td>
		{category.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.image" />
		</td>
		<td>
		{category.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.pleft" />
		</td>
		<td>
		{category.pleft}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.pright" />
		</td>
		<td>
		{category.pright}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_shopware_domain_model_category.product" />
		</td>
		<td>
		{category.product}
		</td>
	</tr>
</table>